In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import lib

In [ ]:
engine = create_engine(f'postgresql://{lib.password}@localhost:5432/SQL_Challenge_NWU')
connection = engine.connect()

In [ ]:
query = "SELECT salary FROM salaries ORDER BY salary;" 
salary_df = pd.read_sql(query, connection)
salary_df

In [ ]:
salary_df.plot(kind="hist")

In [ ]:
# sns.set(style="darkgrid")
# plt.figure(figsize=(12,8))
# sns.kdeplot(df_cleaned[df_cleaned["Bachelors_Degree"]==1]["basesalary"], color="crimson", label="Bachelor's Degree", multiple="stack")
# sns.kdeplot(df_cleaned[df_cleaned["Highschool"]==1]["basesalary"], color="lightgreen", label="Highschool Degree", multiple="stack")
# sns.kdeplot(df_cleaned[df_cleaned["Masters_Degree"]==1]["basesalary"], color="sandybrown", label="Master's Degree", multiple="stack")
# sns.kdeplot(df_cleaned[df_cleaned["Doctorate_Degree"]==1]["basesalary"], color="darkturquoise", label="PhD Degree", multiple="stack")
# plt.title("Base Salary Based on Degrees", size=18,bbox={'facecolor':'0.8', 'pad':5})
# plt.xlabel("Base Salary ($)", size=15)
# plt.ylabel("Density", size=15)
# plt.legend()
# plt.savefig("output_images/basesalary_Based_on_degrees")
# plt.show()